@model AddNewLeave
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "AddNewClient";

}
<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
        <h1 id="title" class="text-center">Add New Leave</h1>
        <p id="description" class="description text-center">

        </p>
    </header>





    <form asp-action="" id="survey-form">
        <div class="form-group">

            <div class="row">
                <div class="procolumn">

                </div>
                <div class="procolumn">
                    <h6>Worker</h6>
                    <br />
                    <br />
                    <label for="dateofbirth">Start Date</label>
                    <br />
                    <label for="dateofbirth">End Date</label>
                    <br />
                    <h6>Comment</h6>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    
                </div>


                <div class="pro3column">
                    <select id="dropdown" asp-for="Worker" class="form-control" required>
                        @*<option disabled selected value>Gendere</option>*@
                        <option value="Pasan Wijesuriya">Pasan Wijesuriya</option>
                    </select>
                    <br />
                    <input type="date" asp-for="Start_time" id="dateofbirth">
                    <br />
                    <input type="date" asp-for="End_time" id="dateofbirth">
                    <br />
                    <textarea id="comments"
                              class="input-textarea"
                              asp-for="Comment"></textarea>
                    <br />
                    <br />
                    <br />
                  
                </div>
                <div class="procolumn">

                </div>
            </div>



        </div>


        <script type="text/javascript">
            const projectName = 'survey-form';

        </script>
    </form>
</div>







