@model IEnumerable<MVC_DynamicMenu.Models.Roles>

@{
    ViewData["Title"] = "GetRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
        <h1 id="title" class="text-center">GetRoles</h1>
        <p id="description" class="description text-center">

        </p>
    </header>


    <p>
        <a asp-action="CreateRole">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <a asp-action="EditRole" asp-route-id="@item.RoleId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>